In [17]:
import pandas as pd

In [20]:
# this dataframe is outC[1] in the cascade output
df_carbon_shifts = pd.DataFrame({'mol_id': {0: 0, 1: 0},
 'atom_index': {0: 1, 1: 2},
 'Shift': {0: 18.43, 1: 57.18}})

# this dataframe is outH[1] in the cascade output
df_hydrogen_shifts = pd.DataFrame({'mol_id': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0},
 'atom_index': {0: 4, 1: 5, 2: 6, 3: 7, 4: 8, 5: 9},
 'Shift': {0: 1.12, 1: 1.36, 2: 1.36, 3: 3.68, 4: 3.68, 5: 5.85}})

In [21]:
df_carbon_shifts

   mol_id  atom_index  Shift
0       0           1  18.43
1       0           2  57.18

In [22]:
df_hydrogen_shifts

   mol_id  atom_index  Shift
0       0           4   1.12
1       0           5   1.36
2       0           6   1.36
3       0           7   3.68
4       0           8   3.68
5       0           9   5.85

In [ ]:
# So a function should, if given atom_index = 1, return 18.43
# and if given atom_index = 4, return 1.12
# The function could be something like:
# def chemical_shift(atom_index, df_carbon, df_hydrogen):